<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="TestApp">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern='%d %highlight{%p} %c{1.} [%t] %m%n'/>
        </Console>
        <Async name="Async">
            <AppenderRef ref="STDOUT"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
